body{
margin:0;
font-family:Arial, sans-serif;
background:white;
}


.item{
background:yellowgreen;
color:white;
padding:12px 60px;
display:flex;
border-radius:40px;
margin:20px 60px;
font-size:14px;
}

.item .right{
margin-left:auto;
}


.navbar{
display:flex;
align-items:center;
padding:20px 60px;
background:white;
}

.logo{
font-size:32px;
font-weight:bold;
color:yellowgreen;
}


.nav{
list-style:none;
display:flex;
gap:30px;
margin-left:60px;
padding:0;
}

.nav li{
display:flex;
align-items:center;
}

.nav a{
text-decoration:none;
color:gray;
font-size:18px;
}

.nav a:hover{
color:yellowgreen;
}

.nav a.active{
color:yellowgreen;
font-weight:bold;
}


select{
border:none;
font-size:18px;
color:gray;
background:white;
cursor:pointer;
}


.icons{
margin-left:auto;
font-size:22px;
}

.banner{
background:url("https://images.unsplash.com/photo-1610832958506-aa56368176cf");
background-size:cover;
background-position:center;
color:white;
text-align:center;
font-weight: bolder;
padding:80px;
}


.center{
font-size:18px;
}

.highlight{
color:yellowgreen;
font-weight:bold;
}


.shop-header{
padding:40px 60px;
background:white;
}

.shop-title{
font-size:36px;
color:#555;
}

body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
background:#f6f6f6;
}



header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 80px;
background:white;
box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.logo{
font-size:30px;
font-weight:bold;
color:#7ed321;
}

nav a{
margin:0 15px;
text-decoration:none;
color:#555;
font-size:16px;
}

nav a:hover{
color:#7ed321;
}

.icons{
font-size:20px;
display:flex;
gap:20px;
color:#7ed321;
}



.error-section{
text-align:center;
padding:120px 20px;
}

.warning-icon{
font-size:60px;
color:#f4a825;
margin-bottom:20px;
}

.error-section h1{
font-size:80px;
margin:0;
color:#333;
}

.error-section h2{
font-size:32px;
margin:10px 0;
color:#555;
}

.error-section p{
color:#777;
max-width:600px;
margin:auto;
line-height:1.6;
}

.home-btn{
display:inline-block;
margin-top:30px;
padding:14px 40px;
border:2px solid #f4a825;
border-radius:30px;
text-decoration:none;
color:#555;
font-weight:bold;
}

.home-btn:hover{
background:#f4a825;
color:white;
}

.footer{
background:#4f6666;
color:white;
padding:60px;
}

.footer-container{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:40px;
margin-top:30px;
}

.footer-box h3{
margin-bottom:15px;
}

.footer-box ul{
list-style:none;
padding:0;
}

.footer-box ul li{
margin:6px 0;
}

.footer-bottom{
margin-top:40px;
display:flex;
justify-content:space-between;
font-size:14px;
}
.payment img{
width:50px;
margin-right:5px;
margin-top:10px;
}

